﻿#body-content-wrapper h1 {
    margin-top: 2em;
}

.headings{
    padding-top: 1em;
}

.notDone{
    text-decoration: line-through;
}

#createPageHeading h1 {
    margin-top: 1em;
}

#managePageHeading h1 {
    margin-top: 1em;
}

#editPageHeading h1{
    margin-top: 1em;
}

#MainContent_create_page_button{
    margin-top: 1em;
}

#MainContent_delete_page_button{
    margin-top: 1em;
}

#MainContent_edit_page_button{
    margin-top: 1em;
}

#MainContent_page_key{
    margin-top: 1em;
}

.navbar-brand {
    padding-left: 4em;
}
